# Test SparkAgent Not Always Use A Tool
By default, the ZeroShotAgent forces AI to use a tool each time which is not always the case. When we ask for generic assistance, AI should be allowed to use its power to generate answer directly, such as top 2 options for a question.

In this notebook, we experiment the newly added FreeStyleTool which allows AI to generate its own answer without using any of the provided tools.

In [1]:
from pathlib import Path
db_address = Path("./spark-warehouse/")
if (db_address.exists()):
    import shutil
    shutil.rmtree(db_address)

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
schema = "langchain_example"
spark.sql(f"CREATE DATABASE IF NOT EXISTS {schema}")
spark.sql(f"USE {schema}")
csv_file_path = "../titanic.csv"
table = "titanic"
spark.read.csv(csv_file_path, header=True, inferSchema=True).write.saveAsTable(table, mode="overwrite")
spark.table(table).show()

23/05/13 21:35:45 WARN Utils: Your hostname, Mikes-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.68.115 instead (on interface en1)
23/05/13 21:35:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/13 21:35:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/13 21:35:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [2]:
from langchain.agents import create_spark_analytics_agent_verified

agent_executor = create_spark_analytics_agent_verified(
    schema=schema,
    allow_freestyle=True,
)

RETURN FREE STYLE

In [4]:
agent_executor.run("give me two different ways to query the most expensive class")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
tool args

tool kwargs

Observation: titanic
Thought:I should check the schema of the titanic table to find the relevant columns for the most expensive class.
Action: schema_sql_db
Action Input: titanic
tool args titanic

tool kwargs

Observation: CREATE TABLE langchain_example.titanic (
  PassengerId INT,
  Survived INT,
  Pclass INT,
  Name STRING,
  Sex STRING,
  Age DOUBLE,
  SibSp INT,
  Parch INT,
  Ticket STRING,
  Fare DOUBLE,
  Cabin STRING,
  Embarked STRING)
;

/*
3 rows from titanic table:
PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	0	3	Braund, Mr. Owen Harris	male	22.0	1	0	A/5 21171	7.25	None	S
2	1	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38.0	1	0	PC 17599	71.2833	C85	C
3	1	3	Heikkinen, Miss. Laina	female	26.0	0	0	STON/O2. 3101282	7.925	None	S
*/
Thought:I can use the Pclass and Fare columns to find the most expensive class. I will provide two different ways to query the most expensive class. First, I will use the MAX function on the Fare column, and then I will use the MIN function on the Pclass column. I need to double check my queries before executing them.
tool args

tool kwargs

Observation: AI is allowed to generate the answer when it has the confidence.
Thought:I have confidence in my queries.
Action: query_checker_sql_db
Action Input: SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1
tool args SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1

tool kwargs

Observation: The original query seems to be correct. There are no common mistakes present. So, I will reproduce the original query:

SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1
Thought:Now that I have checked the first query, I will check the second query.
Action: query_checker_sql_db
Action Input: SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1
tool args SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1

tool kwargs

Observation: The original query does not have any common mistakes. Here is the reproduced query:

SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1
Thought:Now that I have checked both queries, I can execute them to find the most expensive class in two different ways.
Action: query_sql_db
Action Input: SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1
tool args SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1

tool kwargs

Observation: [('1', '512.3292')]
Thought:I found the most expensive class using the MAX function on the Fare column. Now I will execute the second query to find the most expensive class using the MIN function on the Pclass column.
Action: query_sql_db
Action Input: SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1
tool args SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1

tool kwargs

Observation: [('1', '1')]
Thought:I now know the final answer
Final Answer: There are two different ways to query the most expensive class:
1. Using the MAX function on the Fare column: SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1. The result is Class 1 with a maximum fare of 512.3292.
2. Using the MIN function on the Pclass column: SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1. The result is Class 1 with a minimum Pclass value of 1.

> Finished chain.

'There are two different ways to query the most expensive class: \n1. Using the MAX function on the Fare column: SELECT Pclass, MAX(Fare) as Max_Fare FROM titanic GROUP BY Pclass ORDER BY Max_Fare DESC LIMIT 1. The result is Class 1 with a maximum fare of 512.3292.\n2. Using the MIN function on the Pclass column: SELECT Pclass, MIN(Pclass) as Min_Pclass FROM titanic GROUP BY Pclass ORDER BY Min_Pclass ASC LIMIT 1. The result is Class 1 with a minimum Pclass value of 1.'