# Explore How to Interact with AI on Logical/Physical Plans
Logical plan and Physical plans are the source-of-truth to understand how query is executed and optimized. It provides to AI the knowledge of query performance evaluation. This notebook aims to explore how to take advantage of this feature.

In [1]:
from pathlib import Path
db_address = Path("./spark-warehouse/")
if (db_address.exists()):
    import shutil
    shutil.rmtree(db_address)

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
schema = "langchain_example"
spark.sql(f"CREATE DATABASE IF NOT EXISTS {schema}")
spark.sql(f"USE {schema}")
csv_file_path = "../titanic.csv"
table = "titanic"
spark.read.csv(csv_file_path, header=True, inferSchema=True).write.saveAsTable(table, mode="overwrite")
spark.table(table).show()

23/05/14 11:41:08 WARN Utils: Your hostname, Mikes-Mac-mini.local resolves to a loopback address: 127.0.0.1; using 192.168.68.115 instead (on interface en1)
23/05/14 11:41:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/14 11:41:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/14 11:41:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [2]:
import os
os.environ["OPENAI_API_KEY"]="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"
# os.environ["PATH"]=os.environ["PATH"]+":"+"/GitHub/langchain/"

In [12]:
from langchain.agents import create_spark_sql_agent
from langchain.chat_models import ChatOpenAI
from langchain.spark_sql import SparkSQL

spark_sql = SparkSQL(schema=schema)
llm = ChatOpenAI(temperature=0, model_name="gpt-4")
agent_executor = create_spark_sql_agent(
    db=spark_sql,
    llm=llm,
    enable_memory=True,
    enable_freestyle=True,
    verbose=True,
)

def ask(q: str) -> None:
    ans = agent_executor.run(q)
    import textwrap
    print("PRINTED ANSWER: \n", textwrap.fill(ans, width=80))

new3

In [13]:
ask("how many classes are there?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: titanic
Thought:I need to check the schema of the titanic table to see if there is a column related to classes.
Action: schema_sql_db
Action Input: titanic
Observation: CREATE TABLE langchain_example.titanic (
  PassengerId INT,
  Survived INT,
  Pclass INT,
  Name STRING,
  Sex STRING,
  Age DOUBLE,
  SibSp INT,
  Parch INT,
  Ticket STRING,
  Fare DOUBLE,
  Cabin STRING,
  Embarked STRING)
;

/*
3 rows from titanic table:
PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	0	3	Braund, Mr. Owen Harris	male	22.0	1	0	A/5 21171	7.25	None	S
2	1	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38.0	1	0	PC 17599	71.2833	C85	C
3	1	3	Heikkinen, Miss. Laina	female	26.0	0	0	STON/O2. 3101282	7.925	None	S
*/
Thought:The titanic table has a column named Pclass which seems to be related to classes. I will now write a query to count the distinct classes in the Pclass column.
Observation: AI is allowed to generate the answer when it has the confidence.
Thought:I will write a query to count the distinct classes in the Pclass column and check if it's correct.
Action: query_checker_sql_db
Action Input: SELECT COUNT(DISTINCT Pclass) as class_count FROM titanic
Observation: The original query seems to be correct. There are no common mistakes present in the query. So, I will just reproduce the original query:

SELECT COUNT(DISTINCT Pclass) as class_count FROM titanic
Thought:Now that the query is correct, I will execute it to get the count of distinct classes.
Action: query_sql_db
Action Input: SELECT COUNT(DISTINCT Pclass) as class_count FROM titanic
Observation: [('3',)]
Thought:I now know the final answer
Final Answer: There are 3 classes.

> Finished chain.
PRINTED ANSWER:
 There are 3 classes.

In [14]:
ask("how's it optimized in logic plan? Explain the optimized logical plan to me")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input: ""
Observation: titanic
Thought:There is only one table called "titanic". I need to check its schema to understand the columns and their data types.
Action: schema_sql_db
Action Input: "titanic"
Observation: CREATE TABLE langchain_example.titanic (
  PassengerId INT,
  Survived INT,
  Pclass INT,
  Name STRING,
  Sex STRING,
  Age DOUBLE,
  SibSp INT,
  Parch INT,
  Ticket STRING,
  Fare DOUBLE,
  Cabin STRING,
  Embarked STRING)
;

/*
3 rows from titanic table:
PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	0	3	Braund, Mr. Owen Harris	male	22.0	1	0	A/5 21171	7.25	None	S
2	1	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38.0	1	0	PC 17599	71.2833	C85	C
3	1	3	Heikkinen, Miss. Laina	female	26.0	0	0	STON/O2. 3101282	7.925	None	S
*/
Thought:I need to write a query to count the distinct classes in the Pclass column of the titanic table. Then, I will use the get_logical_physical_plans_from_sql_db tool to explain the optimized logical plan.
Action: query_checker_sql_db
Action Input: "SELECT COUNT(DISTINCT Pclass) as class_count FROM titanic"
Observation: The original query seems to be correct. There are no common mistakes present in the query. So, I will reproduce the original query:

SELECT COUNT(DISTINCT Pclass) as class_count FROM titanic
Thought:The query is correct. Now I will use the get_logical_physical_plans_from_sql_db tool to get the optimized logical plan.
Action: get_logical_physical_plans_from_sql_db
Action Input: "SELECT COUNT(DISTINCT Pclass) as class_count FROM titanic"
Observation: == Parsed Logical Plan ==
'Project ['COUNT(distinct 'Pclass) AS class_count#272]
+- 'UnresolvedRelation [titanic], [], false

== Analyzed Logical Plan ==
class_count: bigint
Aggregate [count(distinct Pclass#67) AS class_count#272L]
+- SubqueryAlias spark_catalog.langchain_example.titanic
   +- Relation spark_catalog.langchain_example.titanic[PassengerId#65,Survived#66,Pclass#67,Name#68,Sex#69,Age#70,SibSp#71,Parch#72,Ticket#73,Fare#74,Cabin#75,Embarked#76] parquet

== Optimized Logical Plan ==
Aggregate [count(distinct Pclass#67) AS class_count#272L]
+- Project [Pclass#67]
   +- Relation spark_catalog.langchain_example.titanic[PassengerId#65,Survived#66,Pclass#67,Name#68,Sex#69,Age#70,SibSp#71,Parch#72,Ticket#73,Fare#74,Cabin#75,Embarked#76] parquet

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[count(distinct Pclass#67)], output=[class_count#272L])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [plan_id=304]
      +- HashAggregate(keys=[], functions=[partial_count(distinct Pclass#67)], output=[count#277L])
         +- HashAggregate(keys=[Pclass#67], functions=[], output=[Pclass#67])
            +- Exchange hashpartitioning(Pclass#67, 200), ENSURE_REQUIREMENTS, [plan_id=300]
               +- HashAggregate(keys=[Pclass#67], functions=[], output=[Pclass#67])
                  +- FileScan parquet spark_catalog.langchain_example.titanic[Pclass#67] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/skcoirz/GitHub/Spark-LangChain-Exploration/experiments/exp..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Pclass:int>

Thought:I now know the optimized logical plan for the query.
Final Answer: The optimized logical plan for the query is as follows:

Aggregate [count(distinct Pclass#67) AS class_count#272L]
+- Project [Pclass#67]
   +- Relation spark_catalog.langchain_example.titanic[PassengerId#65,Survived#66,Pclass#67,Name#68,Sex#69,Age#70,SibSp#71,Parch#72,Ticket#73,Fare#74,Cabin#75,Embarked#76] parquet

In this plan, Spark first projects only the Pclass column from the titanic table, reducing the amount of data to be processed. Then, it performs an aggregate operation to count the distinct values of the Pclass column. This optimization helps in reducing the amount of data to be processed and speeds up the query execution.

> Finished chain.
PRINTED ANSWER:
 The optimized logical plan for the query is as follows:  Aggregate
[count(distinct Pclass#67) AS class_count#272L] +- Project [Pclass#67]    +-
Relation spark_catalog.langchain_example.titanic[PassengerId#65,Survived#66,Pcla
ss#67,Name#68,Sex#69,Age#70,SibSp#71,Parch#72,Ticket#73,Fare#74,Cabin#75,Embarke
d#76] parquet  In this plan, Spark first projects only the Pclass column from
the titanic table, reducing the amount of data to be processed. Then, it
performs an aggregate operation to count the distinct values of the Pclass
column. This optimization helps in reducing the amount of data to be processed
and speeds up the query execution.